# Bỏ qua toàn bộ thư mục chứa các thư viện Node.js cài thêm
node_modules/

# Bỏ qua các file nhật ký ghi lỗi nếu có phát sinh khi chạy ứng dụng
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Bỏ qua file môi trường chứa mật khẩu/chìa khóa bí mật (nếu sau này bạn có tạo)
.env
.env.local

# Bỏ qua các file cấu hình riêng của công cụ viết code (VS Code, WebStorm)
.vscode/
.idea/

# Bỏ qua file rác tự sinh của hệ điều hành
.DS_Store
Thumbs.db